body{
	margin: 0;
	padding: 0;
}

*{
	font-family: Raleway;
	color: grey;
}

h3{
	margin: 0;
}

h1,h2{
	text-align: center;
}

#box{
	background: #f5f5f5;
	padding:20px;
	text-align: center;
}

#leftBox{
	display: inline-block;
	width: 840px;
}
#rightBox{
	vertical-align: top;
	display: inline-block;
	width:360px;
	height: 640px;
	margin: 10px;
	background-color: white;
	overflow: auto;
}

#newsFeedElem{
	position: relative;
	padding:10px;
	height: 40px;
	background-color: white;
	box-shadow: 0 1px 1px #f5f5f5;
	margin: 8px;
}

#circle{

	position: absolute;
	left: 20px;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #77E072;
	vertical-align: center;
}

#circle p{
	margin: 0;
	line-height: 40px;
	color: white;
}

#movieTitle{
	display: inline-block;
	text-align: left;
	padding: 4px;
	margin: 0;
	position: absolute;
	left: 70px;
	font-size: 14px;
}

#container{
	display: inline-block;
	margin:10px;
	width: 200px;
	background: white;
	padding: 24px;
	box-shadow: 0 2px 2px 2px #f9f9f9;
}

a{
	background: #8CB8E6;
	border: #eee;
	padding: 6px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#bgheader{
	height: 300px;
	background: url('/images/headbg.jpg');
	background-size: cover;
	position: relative;
}
#header{
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	right: 0;
}

#bgheader h1{
	color: white;
	margin: 0;
	line-height: 300px;
	font-size: 46px;
	vertical-align: center;
	text-align: center;
}

ul#navheader{
	top: 0;
	right: 40px;
	display: inline-block;
}

ul{
	padding: 0px;
	margin: 0;
}
ul#navheader li{
	margin: 0;
	display: inline-block;
	padding: 10px;
	margin: 10px;
	background: rgba(255, 255, 255, 0.6);
	color: white;
	font-weight: bold;
}

ul#navheader a{
	background: none;
}