body{
	margin: 0;
	padding: 0;
}

*{
	font-family: Raleway;
	color: grey;
}

h3{
	margin: 0;
}

h1,h2{
	text-align: center;
}

#box{
	background: #f5f5f5;
	padding:40px;
	text-align: center;
}

#container{
	display: inline-block;
	margin:10px;
	width: 200px;
	background: white;
	padding: 24px;
	box-shadow: 0 2px 2px 2px #f9f9f9;
}

a{
	background: #8CB8E6;
	border: #eee;
	padding: 6px;
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#bgheader{
	height: 300px;
	background: url('/images/headbg.jpg');
	background-size: cover;
	position: relative;
}
#header{
	background: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0;
	width: 100%;
}

#bgheader h1{
	color: white;
	margin: 0;
	padding: 20px;
	font-size: 46px;
	vertical-align: center;
	text-align: center;
}



ul#navheader{
	position: absolute;
	right: 40px;
	display: inline-block;
}

ul{
	padding: 0px;
	margin: 0;
}
ul#navheader li{
	margin: 0;
	display: inline-block;
	padding: 10px;
	margin: 10px;
	background: rgba(0, 0, 0, 0.59);
	color: white;
	font-weight: bold;
}

ul#navheader a{
	background: none;
}